h1, h2, h3, h4, h5, h6, .nav-tabs > li > a, .vc_btn,
a.vc_btn,
button.vc_btn, .alert, .copyright-footer div.textwidget div.copyright-footer-txt, .copyright-footer div.textwidget nav.menu-footer_nav {
  text-transform: uppercase !important; }

.vc_btn,
a.vc_btn,
button.vc_btn, .site-footer div.textwidget p.footer-contact-txt, .copyright-footer div.textwidget div.copyright-footer-txt, .copyright-footer div.textwidget nav.menu-footer_nav {
  font-family: 'Economica' !important;
  font-weight: 400 !important; }

.btn,
.wpcf7-submit, .alert, .progress, .table thead tr th:first-child, .table thead tr th:last-child, .panel-group .panel-title a:before {
  border-radius: 0 !important; }

.gform_wrapper .top_label .gfield_label, .gform_wrapper .ginput_complex label,
.gform_wrapper .gfield_time_hour label,
.gform_wrapper .gfield_time_minute label,
.gform_wrapper .gfield_time_ampm label,
.gform_wrapper .gfield_date_month label,
.gform_wrapper .gfield_date_day label,
.gform_wrapper .gfield_date_year label,
.gform_wrapper .instruction {
  display: none !important; }

.site-footer div.textwidget img.logo-footer-img, .copyright-footer div.textwidget div.copyright-footer-txt {
  float: left !important; }

.site-footer div.textwidget p.footer-contact-txt, .copyright-footer div.textwidget nav.menu-footer_nav {
  float: right !important; }

/**********************************************

					CONTENTS

1. HEADER STYLES
	1.1 Top bar
2. BODY STYLES
	2.1 General
	2.2 Seperator with Text
	2.3 Tabs
	2.4 Button 2
	2.5 Twitter 
	2.6 Alert
	2.7 Progress
	2.8 Table
	2.9 Accordian/Toggle
	2.10 Portfolio Slider
3. FOOTER/SIDEBAR STYLES
	3.1 Footer
	3.2 Copyright

**********************************************/
/**********************************************

			 1. HEADER STYLES

**********************************************/
/* 1.1 Top bar */
/**********************************************

			    2. BODY STYLES

**********************************************/
/* 2.1 General */
h1.center, h2.center, h3.center, h4.center, h5.center, h6.center {
  text-align: center; }
h1.white, h2.white, h3.white, h4.white, h5.white, h6.white {
  color: white; }
h1.lesspadding span, h2.lesspadding span, h3.lesspadding span, h4.lesspadding span, h5.lesspadding span, h6.lesspadding span {
  padding: 0 20px 20px; }

/* 2.2 Seperator with Text */
/* 2.3 Tabs */
/* 2.4 Button 2 */
.vc_btn.gold,
a.vc_btn.gold,
button.vc_btn.gold {
  background-color: #ba9e66; }

/* 2.5 Twitter */
/* 2.6 Alert */
.alert .close {
  margin-top: -23px; }

/* 2.7 Progress */
/* 2.8 Table */
.table thead tr th {
  font-size: 22px; }

/* 2.9 Accordian/Toggle */
/* 2.10 Portfolio Slider */
.row.owly h2 {
  font-size: 19px; }

/**********************************************

		   3. FOOTER/SIDEBAR STYLES

**********************************************/
/* 3.1 Footer */
.site-footer div.textwidget p.footer-contact-txt {
  text-align: right; }
  .site-footer div.textwidget p.footer-contact-txt span {
    color: #ba9e66; }

.site-footer > .container {
  padding-top: 40px;
  padding-bottom: 10px; }

/* 3.2 Copyright */
.copyright-footer div.textwidget nav.menu-footer_nav ul li {
  display: inline; }

/* 3.3 Gravity Forms */
.gform_wrapper {
  margin-top: 0 !important; }
  .gform_wrapper h3.gform_title {
    margin-top: 0 !important;
    font-weight: 400 !important; }

/*# sourceMappingURL=main.css.map */
