/**********************************************

					CONTENTS

1. HEADER STYLES
	1.1 Top bar
	1.2 Search
	1.3 Page Heading
2. BODY STYLES
	2.1 General
	2.2 Seperator with Text
	2.3 Tabs
	2.4 Button 2
	2.5 Twitter 
	2.6 Alert
	2.7 Progress
	2.8 Table
	2.9 Accordian/Toggle
	2.10 Portfolio Slider
	2.11 Post Grid
3. FOOTER/SIDEBAR STYLES
	3.1 Footer
	3.2 Copyright
	3.3 Gravity Forms

**********************************************/

/**********************************************

			 1. HEADER STYLES

**********************************************/

/* 1.1 Top bar */
.top-bar, .top-bar.style-2 {
	height: auto !important;

	.container {
		ul li {
			height: auto !important;
			padding: 8px 13px;
			font-size: 0.8em;

			div {
				height: auto !important;
				padding: 0;
			}
		}
	}
}

/* 1.2 Search */
.nav-wrap .fa-search {
	color: white;
}

/* 1.3 Page Heading */
.page-heading {
	padding: 8px 0 3px 0;
}

/* 1.4 Navigation */
.nav-tabs > li > a, 
.site-navigation > ul a, 
.tp-arr-titleholder {
	font-weight: 300;
}

/* 1.5 Breadcrums */
.page-heading .breadcrumbs li {
	font-weight: 300 !important;	
}


/**********************************************

			    2. BODY STYLES

**********************************************/

/* 2.1 General */
h1, h2, h3, h4, h5, h6 {
	@extend %uppercase;
	font-weight: 300 !important;

	&.center {
		text-align: center;
	}

	&.white {
		color: white;
	}

	&.lesspadding {
		span {
			padding: 0 20px 20px;
		}
	}
}


/* 2.2 Seperator with Text */
.vc_separator h4 {	
	//@extend %bold;
}

/* 2.3 Tabs */
.nav-tabs > li > a {
	@extend %uppercase;
	//@extend %bold;
}

/* 2.4 Button 2 */
.vc_btn, 
a.vc_btn, 
button.vc_btn {
	@extend %uppercase;
	@extend %oswald-light;
}

.vc_btn.gold, 
a.vc_btn.gold, 
button.vc_btn.gold {
	background-color: $fl-gold;
} 

/* 2.5 Twitter */
.btn,
.wpcf7-submit {
	@extend %noradius;
}

/* 2.6 Alert */
.alert {
	@extend %noradius;
	@extend %uppercase;
	//@extend %bold;

	.close {
		margin-top: -23px;
	}
}

/* 2.7 Progress */
.progress {
	@extend %noradius;
}

/* 2.8 Table */
.table thead tr th {
	font-size: 22px;

	&:first-child,
	&:last-child {
		@extend %noradius;
	}
}

/* 2.9 Accordian/Toggle */
.panel-group .panel-title a:before {
	@extend %noradius;
}

/* 2.10 Portfolio Slider */
.row.owly h2 {
	font-size: 19px;
}

/* 2.11 Post Grid */
.vc_grid.vc_row .vc_grid-item .vc_btn {
	background-color: $fl-gold;
	@extend %noradius;
}

/**********************************************

		   3. FOOTER/SIDEBAR STYLES

**********************************************/

/* 3.1 Footer */
.site-footer div.textwidget {
	img.logo-footer-img {
		@extend %left;
	}

	p.footer-contact-txt {
		@extend %right;
		@extend %oswald-light;
		text-align: right;

		span {
			color: $fl-gold;
		}
	}
}

.site-footer > .container {
	padding-top: 40px;
	padding-bottom: 10px;
}

/* 3.2 Copyright */
.copyright-footer div.textwidget {
	div.copyright-footer-txt {
		@extend %oswald-light;
		@extend %uppercase;
		@extend %left;
	}

	nav.menu-footer_nav {
		@extend %oswald-light;
		@extend %uppercase;
		@extend %right;

		ul {
			li {
				display: inline;				
			}
		}
	}
}

/* 3.3 Gravity Forms */
.gform_wrapper {
	margin-top: 0 !important;

	h3.gform_title {
		margin-top: 0 !important;
		font-weight: 400 !important;
	}

	.top_label {
		.gfield_label {
			@extend %hide;
		}
	}

	.ginput_complex label, 
	.gfield_time_hour label, 
	.gfield_time_minute label, 
	.gfield_time_ampm label, 
	.gfield_date_month label, 
	.gfield_date_day label,
	.gfield_date_year label,
	.instruction {
		@extend %hide;
	}

	input[type=text], 
	input[type=url],
	input[type=email], 
	input[type=tel], 
	input[type=number], 
	input[type=password],
	textarea {
		padding: .313em !important;
	}

	.gform_footer {
		input.button,
		input[type=submit],
		input[type=image] {
			@extend %fl-btn;
		}
	} 
}