%noborder { 
	border-top: none !important;
	border-right: none !important;
	border-bottom: none !important;
	border-left: none !important;
	outline: none !important;
	border: none !important;
}

%noshadow { 
	box-shadow: none !important; 
}

%noradius { 
	border-radius: 0 !important;
}

%hide { 
	display: none !important;
}

@mixin font($size, $weight, $color) {
	font-size: $size !important;
	font-weight: $weight !important;
	color: $color !important;
}

%left {
	float: left !important;
}

%right {
	float: right !important;
}