%uppercase {
	text-transform: uppercase !important;
}

%bold {
	font-weight: 700 !important;
}

%economica-normal {
	font-family: 'Economica' !important;
	font-weight: 400 !important;
}

%economica-bold {
	font-family: 'Economica' !important;
	font-weight: 700 !important;
}
